<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fancy Cloths</title>
    <link rel="stylesheet" href="../assets/css/cloths.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/js/bootstrap.bundle.min.js">
    <script src="https://kit.fontawesome.com/602c9d5c27.js" crossorigin="anonymous"></script>

</head>

<body>

    <!-- ****     navbar    ********* -->

    <nav class="navbar navhead  text-sm-center">
        <div class="container-fluid  d-flex  " style="justify-content: space-between;">
            <ul class="angle_maize  ">
                <a class="fa-solid fa-angle-left angle_left"></a>
                <a class="navbar-brand Maize_nav">Maize Thanksgiving</a>
            </ul>

            <form class="d-flex " role="search">

                <button class="btn fw-bold" type="submit">Start shopify Trail</button>
                <button class="btn btn-primary fw-bold " type="submit">Try This Tamplate</button>
            </form>
        </div>
    </nav>


    <!-- ***** section-1 ***** -->

    <div class="container-fluid">
        <div class="container">
            <div class=" row align-items-center  ">
                <div class=" col-md-6 text-center text-md-start  ">
                    <h1 class="section_1_text">Give Thanks In Style With Maize Hoodies</h1>
                    <p class="text-black section1_para">Discover Cozy and Fashionable Hoodies for YourThanksgiving
                        Celebrations</p>
                    <button class="shop_now_btn fw-bold">
                        SHOP NOW AND SAVE 20%
                    </button>
                </div>
                <div class=" col-md-6 text-center text-md-start ">
                    <img class="top_img mt-3 "
                        src="https://cdn.shopify.com/s/files/1/2170/1117/files/portrait-cheerful-people-man-woman-basic-clothing-smiling_copy_2.png?v=1686559932"
                        alt="Mize Hoodie" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <!-- --------  ******  section_2 *********** -->
    <section class="section_2 container-fluid">
        <h1 class="text-center section2_text">Trending Now</h1>

        <div class="container">
            <div class="row justify-content-center mt-3  " style="gap: 15px; ">
                <div class="card img_box col-lg-2  col-sm-12 shadow-sm sm-center " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_1.png?v=1686564644"
                        class="card-img-top" alt="Autumn Breeze Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Autumn Breeze Hoodie</h5>
                        <p class="card-text  section_2_img_text ">$49.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-danger"></div>&nbsp;
                            <div class="colorbox bg-primary"></div>&nbsp;
                            <div class="colorbox bg-success"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>

                <div class="card img_box  col-lg-2  col-sm-12 shadow-sm text-md-start " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_2.png?v=1686564773"
                        class="card-img-top" alt="Cozy Comfort Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Cozy Comfort Hoodie </h5>
                        <p class="card-text section_2_img_text ">$54.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-secondary"></div>&nbsp;
                            <div class="colorbox bg-dark"></div>&nbsp;
                            <div class="colorbox bg-success"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>

                <div class="card img_box col-lg-2 col-sm-12 shadow-sm " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_4.png?v=1686564999"
                        class="card-img-top" alt="Festive Fall Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Festive Fall Hoodie</h5>
                        <p class="card-text section_2_img_text ">$59.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-dark"></div>&nbsp;
                            <div class="colorbox bg-primary"></div>&nbsp;
                            <div class="colorbox bg-warning"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>

                <div class="card img_box col-lg-2  col-sm-12 shadow-sm " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/Untitleddesign_3.png?v=1686565114"
                        class="card-img-top" alt="Adventure Grey Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Adventure Grey Hoodie</h5>
                        <p class="card-text section_2_img_text">$65.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-danger"></div>&nbsp;
                            <div class="colorbox bg-white"></div>&nbsp;
                            <div class="colorbox bg-warning"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- *********** section-3 ********************-->

    <div class="container-fluid section_3 ">
        <div class="container row  justify-content-center">
            <div class="col-lg-6 col-md-10 col-sm-12 text-center">

                <h1 class="promo-heading text-black">Cozy & Comfortable This Thanksgiving</h1>
                <p class="promo-subtext text-center">This Thanksgiving, express gratitude in style with our premium
                    hoodies. Embrace the
                    warmth and joy of the holiday while staying comfortable and fashionable. Shop now to elevate your
                    Thanksgiving celebration with Maize.</p>

                <button class="shop-btn text-center col-lg-5 col-sm-5  "
                    style="width:auto;justify-content: center; ">Shop Now</button>
            </div>
        </div>
    </div>

    <!-- ******* section_4 *********** -->

    <section class="section_2 container-fluid">
        <h1 class="text-center section2_text">Top Picks For Thanksgiving</h1>

        <div class="container">
            <div class="row justify-content-center mt-3" style="gap: 15px; ">
                <div class="card img_box col-lg-2  col-sm-12 shadow-sm sm-center " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/1.png?v=1686566074" class="card-img-top"
                        alt="Grateful Harvest Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Grateful Harvest Hoodie</h5>
                        <p class="card-text  section_2_img_text ">$59.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-danger"></div>&nbsp;
                            <div class="colorbox bg-primary"></div>&nbsp;
                            <div class="colorbox bg-success"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>

                <div class="card img_box  col-lg-2  col-sm-12 shadow-sm text-md-start " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/2.png?v=1686566187" class="card-img-top"
                        alt="Autumn Maize Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Autumn Maize Hoodie </h5>
                        <p class="card-text section_2_img_text ">$74.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-secondary"></div>&nbsp;
                            <div class="colorbox bg-dark"></div>&nbsp;
                            <div class="colorbox bg-success"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>

                <div class="card img_box col-lg-2 col-sm-12 shadow-sm " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/3_229a70d4-b072-4fb1-86e4-b4783ed8c06c.png?v=1686566459"
                        class="card-img-top" alt="Cozy Cabin Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Cozy Cabin Hoodie</h5>
                        <p class="card-text section_2_img_text ">$49.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-dark"></div>&nbsp;
                            <div class="colorbox bg-primary"></div>&nbsp;
                            <div class="colorbox bg-warning"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>

                <div class="card  col-lg-2  col-sm-12 shadow-sm " style="width: 18rem;">
                    <img src="https://pagefly.myshopify.com/cdn/shop/files/4.png?v=1686566538" class="card-img-top"
                        alt="Fireside Comfort Hoodie">
                    <div class="card-body">
                        <h5 class="card-title section_2_img_text ">Fireside Comfort Hoodie</h5>
                        <p class="card-text section_2_img_text">$65.99</p>
                        <div class="d-flex">
                            <div class="colorbox bg-danger"></div>&nbsp;
                            <div class="colorbox bg-white"></div>&nbsp;
                            <div class="colorbox bg-warning"></div>
                        </div>
                        <br>
                        <div>
                            <span class="section_2_sizechart" style="border: 1px solid  #E56639"> S </span>&nbsp;
                            <span class="section_2_sizechart"> M </span>&nbsp;
                            <span class="section_2_sizechart"> X </span>&nbsp;
                            <span class="section_2_sizechart"> XL </span>
                        </div>
                        <br>
                        <center><button class=" btn_add_to_cart d-flex justify-content-center text-center"> Add to
                                Cart</button></center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ********** section_5 ********* -->

    <div class="container">
        <h1 class="section_5_text text-center mb-5 mt-5">Thanksgiving Season Specials</h1>
        <hr class="hr_tag text-center mb-5">

        <div class="row text-center  justify-content-center mt-3 mb-5">
            <div class="col-lg-4 col-sm-12 align-items-center text-center mb-5">
                <i class="fa-solid fa-tags" style="font-size: 30px; color: #E56639; "></i> <br> <br>
                <h3>Exclusive Discounts</h3>
                <p class="Exclusive_text">Enjoy extra savings during the Thanksgiving season with our exclusive discount
                    code: THANKS20</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <i class="fa-solid fa-truck-fast" style="font-size: 30px;color: #E56639; "></i><br> <br>
                <h3>Free Shipping</h3>
                <p class="Exclusive_text">We're spreading the holiday cheer by offering free shipping on all orders
                    placed during the
                    Thanksgiving season.</p>
            </div>
            <div class="col-lg-4 col-sm-12">
                <i class="fa-solid fa-gift" style="font-size: 30px; color: #E56639; "></i> <br> <br>
                <h3>Free Gift Wrapping</h3>
                <p class="Exclusive_text">Free gift wrapping during Thanksgiving. Make your hoodie purchases extra
                    special with beautifully
                    wrapped packages.</p>
            </div> <br>
            <button class="shop-btn_save mb-5 col-lg-5 col-sm-5 " style="width: auto;">Shop Now & Save</button>
        </div>
    </div>

    <!-- *********** customers review section    ********** -->
    <div class="customers_review_section container-fluid ">
        <h1 class="customers_section text-center fw-bold ">What Our Customers Say</h1>
        <div class="container">
            <div class="row  justify-content-center" style="padding-bottom: 40px;">
                <div class=" col-lg-3 col-sm-12  mt-5 mb-5">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/smiling-cheerfully-feeling-happy-showing-concept_2.png?v=1686642452"
                        alt="Sarah Davis" class="img-fluid customers_image ">
                    <div class="customers_text_section">
                        <p class="text-aling-left">I absolutely love my Maize hoodie! The quality is outstanding, and it
                            keeps
                            me warm and cozy during
                            the colder months. Highly recommend!</p>
                        <div class=" customers_rating  d-flex  ">
                            <div class="customers_name "> Sarah Davis</div>
                            <div class="d-flex">
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class=" col-lg-3 col-sm-12  mt-5 mb-5">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/smiling-cheerfully-feeling-happy-showing-concept_3.png?v=1686642452"
                        alt="Emily Jhonson" class="img-fluid  customers_image ">
                    <div class="customers_text_section">
                        <p class="text-aling-left">Maize hoodies are my go-to for both style and comfort. The designs
                            are
                            trendy, and the fit is perfect. I get compliments every time I wear one!

                        </p>
                        <div class=" customers_rating  d-flex  ">
                            <div class="customers_name "> Emily Jhonson</div>
                            <div class="d-flex">
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" col-lg-3 col-sm-12  mt-5 mb-5">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/smiling-cheerfully-feeling-happy-showing-concept_1.png?v=1686642452"
                        alt="Jhon Smith" class="img-fluid  customers_image">
                    <div class=" customers_text_section">
                        <p class="text-aling-left">I absolutely love my Maize hoodie! The quality is outstanding, and it
                            keeps
                            me warm and cozy during
                            the colder months. Highly recommend!</p>
                        <div class=" customers_rating  d-flex  ">
                            <div class="customers_name ">Jhon Smith</div>
                            <div class="d-flex">
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                                <i class="fa-solid fa-star" style="color: #FFB800;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- ********* img_section ************* -->

    <section class="text-center mt-5">
        <h2 class="image_section_text fw-bold">Customer Styling Inspiration </h2>
        <p class="image_section_para mb-5"> We created this section withVIBE Shoppable Instagram Feedapp</p>
        <div class="container">
            <div class="row d-flex justify-content-center mb-2" style="gap: 0px;">
                <!-- **** image 1**** -->
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/379721102_1712286745951901_928707408498913827_n.jpg?v=1695203313"
                        alt="" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/380810533_259988690350849_8580653597866703819_n.jpg?v=1695203314"
                        alt="" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/381067079_2240346302841956_2698554573323655286_n.jpg?v=1695203315"
                        alt="" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/380061981_828556025396514_4868381605164094513_n.jpg?v=1695203316"
                        alt="" class="img-fluid">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/379766373_856685192655798_8962368433697880075_n.jpg?v=1695203317"
                        alt="" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/380418567_273875852187600_8512601327435473614_n.jpg?v=1695203317"
                        alt="" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/379720879_1044367279899117_3789489697512387913_n.jpg?v=1695203318"
                        alt="" class="img-fluid">
                </div>
                <div class="col-lg-2 col-md-6 col-sm-12">
                    <img src="https://cdn.shopify.com/s/files/1/2170/1117/files/379813525_852255999867542_7162411372720902221_n.jpg?v=1695203319"
                        alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <button class="See_more_btn mt-5 mb-5"> See More</button>
    </section>


    <!-- *********        footer      ******** -->
    <section class="container-fluid footer_section ">
        <div class="container text-center ">
            <h2 class="footer_section_text fw-bold">Subscribe For Exclusive Updates</h2>
            <p class="footer_section_para "> Get early access, special offers, and the latest releases. Join now and
                elevate your hoodie game!</p>
            <div class=" row d-flex justify-content-center mt-5" style="gap: 20px;">
                <input class="footer_input col-lg-6 col-sm-10 " type="text" placeholder="Enter your email ">
                <button class="footer_btn_suscribe col-lg-2 col-sm-2"> SUBSCRIBE NOW</button>
            </div>

            <div class="d-flex mt-5 text-center justify-content-center" style="gap: 20px; padding-bottom: 30px;">
                <i class="fa-brands fa-facebook fs-1"></i>
                <i class="fa-brands fa-instagram fs-1"></i>
                <i class="fa-brands fa-twitter fs-1" style="color: #ffffff;"></i>
            </div>
        </div>
    </section>










</body>

</html>