/* ********---------Header-Start-------************* */
*body {
    font-family: 'Times New Roman', Times, serif;
}

.navhead {
    border-bottom: solid 1px rgba(162, 161, 161, 0.288);
}

.Maize_nav {
    font-family: sans-serif;
    font-weight: bold;
}

.angle_maize {
    gap: 20px;
}

.angle_left {
    text-decoration-line: none;
    border: solid 1px rgba(162, 161, 161, 0.288);
    border-radius: 4px;
    padding: 15px;
    color: #0f0f0f;
    font-size: 10px;
}

/* *************** -------Header-end----------------*********** */



/* *********---------------section_1-Start------------------******  */
.section_1_text {
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.section1_para {
    font-family: 'Times New Roman', Times, serif;
}

.top_img {
    max-width: 85%;
    height: auto;
    border-radius: 8px;
}

.shop_now_btn {
    background-color: #E56639;
    border-radius: 15px;
    padding: 13px 25px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    border: none;
    font-weight: bold;
    height: 55px;
}

.shop_now_btn:hover {
    background-color: #fff;
    border: solid 1px #E56639;
    color: #E56639;
}

/* -------------------Section_1-End------------------------------ */

/* *******--------------section_2 & Section_4 -Start--- -------************ */
.section2_text {
    color: #0f0f0f;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.section_2 {
    background-color: #F9EFE5;
    padding-top: 60px;
    padding-bottom: 60px;
}

.section_2_img_text {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.img_box {
    border: none;
    border-radius: 20px;
}

.colorbox {
    border-radius: 50%;
    height: 20px;
    width: 20px;

}

.btn_add_to_cart {
    background-color: #E56639;
    text-decoration-line: none;
    color: #fff;
    font-weight: bold;
    border-radius: 13px;
    padding: 13px 72px;
    justify-content: center;
    width: auto;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    width: 245px;
    height: 55px;
    font-size: 18px;

}

.btn_add_to_cart:hover {
    background-color: #fff;
    border: solid 1px #E56639;
    color: #E56639;
}

.section_2_sizechart {
    font-family: 'Times New Roman', Times, serif;
    border: solid 1px gray;
    border-radius: 9px;
    padding: 6px 15px;
}

/* -----------------Section_2 & Section_4 -End----------------- */


/* *******------------- section_3-Start---------- ******* */
.section_3 {
    background-color: #666666;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

}

.promo-heading {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.promo-subtext {
    font-size: 1.1rem;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.shop-btn {
    background-color: #FF6B35;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    width: 50px;
    height: 50px;

}

.shop-btn:hover {
    background-color: #4A4A4A;
    color: #E56639;
    border: solid 1px #E56639;
}

/* -----------------Section_3-End----------------------- */


/* *****--------------- section_5- Start---------------*********** */
.section_5_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.hr_tag {
    width: 75%;
    color: gray;
}

.Exclusive_text {
    color: rgb(109, 117, 129);
    font-size: 15px;
}

.section5_icon {
    font-size: 25px;
    color: #E56639;
    background-color: #F9EFE5;
    padding: 15px;
    border-radius: 120px;
}

.shop-btn_save {
    justify-content: center;
    background-color: #FF6B35;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 50px;

}

.shop-btn_save:hover {
    background-color: #fff;
    color: #E56639;
    border: solid 1px #FF6B35;
}

/* --------------------Section_5-end -------------------*/


/* ********------------- customer_review_section-Start---------************ */
.customers_review_section {
    background-color: #F9EFE5;
    font-family: 'Times New Roman', Times, serif;
}

.customers_section {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 60px;
    padding-bottom: 40px;
}

.customers_text_section {
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.customers_image {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.customers_name {
    font-size: 20px;
    font-weight: bold;
}

.customers_rating {
    display: flex;
    justify-content: space-between;
}

/* ********------------- customer_review_section-end---------************ */



/* ******** -------image_ section-Start-------------- ******* */
.image_section_text {
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.image_section_para {
    font-family: 'Times New Roman', Times, serif;
}

#Image_section_image {
    width: 280px;
    height: 280px;
    background-size: 100%;
    /* Background starts at normal size */
    background-position: center;
    transition: background-size .25s ease;
    /* Smooth transition for zoom-out effect */
}

.overlay {
    background-color: rgba(61, 61, 61, 0.303);
    text-align: center;
    padding: 39.3% 0;
    opacity: 0;
    transition: opacity .25s ease;
}

#Image_section_image:hover .overlay {
    opacity: 0.9;
}

#Image_section_image:hover {
    background-size: 110%;
    /* Zoom out effect (image appears to zoom away) */
}

.Shop_this_products {
    font-family: HelveticaNeueLTStd;
    font-weight: 400;
    font-size: .85rem;
    text-transform: uppercase;
    /* padding-bottom: .25rem; */
    color: white;
}

.tag_icon {
    background-color: rgba(0, 0, 0, 0.379);
    font-size: 22px;
    padding: 9px;
    border-radius: 50%;
    color: #ffffff;
    position: relative;
    top: -40px;
    left: -105px;
    
}


.See_more_btn {
    justify-content: center;
    background-color: #FF6B35;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 150px;
}

.See_more_btn:hover {
    background-color: #fff;
    color: #E56639;
    border: solid 1px #FF6B35;
}

/* ******** -------image_ section-End-------------- ******* */


/* *******----------footer--- section -Start------------******* */
.footer_section {
    background-color: #666666;
    color: #ffff;
    padding-top: 40px;
    padding-bottom: 40px;

}

.footer_section_text {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.footer_section_para {
    font-family: 'Times New Roman', Times, serif;
}

.footer_btn_suscribe {
    border-radius: 10px;
    padding: 13px 30px;
    background-color: #FF6B35;
    font-weight: bold;
    color: #fff;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;

}

.footer_btn_suscribe:hover {
    background-color: #666666;
    color: #E56639;
    border: solid 1px #FF6B35;
}

.footer_input {
    width: 400px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}

.footer_input:placeholder-shown {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.Footer_icons {
    gap: 20px;
    padding-bottom: 30px;
}

.footer_icon_facebook {
    background-color: #3B3026;
    padding: 10px;
    border-radius: 100px;
    font-size: 30px;
}

/* *******----------footer--- section -End------------******* */